@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h3 class="text-center">Sorry for the interruption!</h3>
    <p class="text-center text-dark">You got some internal errors right now. Try after sometimes...</p>
</div>
