
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Register"] = "SuccessfulRegistration";
}
<div>
    <h2 class="display-6 text-center" style="margin-top:15%">You get registered successfully.</h2>
    <p class="text-center text-danger">We send you a mail with a login link...For confermation go to your registered mail id.</p>
</div>
