@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="margin-top:15%">

    <h1 class=" display-4 text-center">Use this page to detail your site's privacy policy.</h1>

</div>

@if (TempData["firstTimeLogin"]!= null)
{
    <partial name="_ApprovalOfAdminPartial"></partial>
    @*<div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>*@
}
