@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p class=" text-danger text-center">
    Try to get Login after sometime - once you get approved by the ADMIN.
</p>